.broad {
    display: flex;
    flex-direction: column;
    width: var(--broad-width);
    height: var(--broad-height);

    .wrap_broad-row {
        width: var(--broad-width);

        .broad_row {
            display: flex;
            width: 100%;
            height: 100%;

            .wrap_node {
                border: 1px solid black;
            }
        }
    }
}

.none_border {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;

    h1 {
        text-align: center;
    }
}

.btn_start {
    cursor: pointer;
    color: rgb(22, 205, 28);
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 10px auto;
    width: 100%;

    &:hover {
        border: 1px solid rgb(22, 205, 28);
    }
}
